.post-warp {
  .intro {
    transform: translateY(0);
    margin: 2em 0 5em 0;

    .avatar {
      img {
        width: 96px;
      }
    }
  }

  .post {
    margin-bottom: 4em;
    border-bottom: 1px dashed #ddd;

    .post-content {
      padding-top: .5em;
    }

    .post-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .post-meta {
        a {
          color: rgba(85, 85, 85, 0.52941) !important;
          .dark-theme & {
            color: $dark-font-secondary-color !important;
          }

          &:hover {
            color: $light-font-secondary-color !important;
            .dark-theme & {
              color: $dark-font-secondary-color !important;
            }
          }
        }
      }
	  .back-to-top {
  box-sizing: border-box;
  position: fixed;
  right: 30px;
  z-index: 1050;
  padding: 0 6px;
  width: initial;
  background: #222;
  font-size: 12px;
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateZ(0);
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  bottom: -40px;
}
.back-top-active {
  bottom: 30px;
}
@media (max-width: 767px) {
  .back-to-top {
    right: 10px;
  }
  .back-top-active {
    bottom: 10px;
  }
}
      .post-tags {
        span {
          a {
            color: rgba(85, 85, 85, 0.52941) !important;
            .dark-theme & {
              color: $dark-font-secondary-color !important;
            }

            &:hover {
              color: $light-font-secondary-color !important;
              .dark-theme & {
                color: $dark-font-secondary-color !important;
              }
            }
          }
        }
      }
    }
  }
}
.hr-double-arrow {
    color: #d0d0d5;
    border: double;
    border-width: 3px 5px;
    border-color: #d0d0d5 transparent;
    height: 1px;
    overflow: visible;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.hr-double-arrow:before, 
.hr-double-arrow:after {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    border-width: 0 3px 3px 0;
    border-style: double;
    top: -3px;
    background: radial-gradient(2px at 1px 1px, currentColor 2px, transparent 0) no-repeat;
}
.hr-double-arrow:before {
    transform: rotate(-45deg);
    left: -20px;
}
.hr-double-arrow:after {
    transform: rotate(135deg);
    right: -20px;
}

/* 现代浏览器only */
.hr-twill-colorful {
    border: 0;
    padding: 3px;
    background: linear-gradient(135deg, red, orange,green, blue, purple);
    --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}
.hr-shadow {
    border: 0;
    padding-top: 10px;
    color: #d0d0d5;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: inset 0 10px 10px -10px;
}
